<form [formGroup]="registerForm" (submit)="register()">
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="text" placeholder="eve.holt@reqres.in" required aria-label="Email"
            required aria-required="true">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" required aria-label="Password" aria-required="true">
    </mat-form-field>
    <div class="button-container" matTooltip="Complete this form to register" [matTooltipDisabled]="registerForm.valid">
        <button mat-flat-button type="submit" [disabled]="registerForm.invalid">REGISTER</button>
    </div>
</form>

<ng-content *ngIf="hasFormErrors">
    <app-validation-container/>
</ng-content>