<!-- <form [formGroup]="goalForm" (submit)="addGoal()"> -->
<form [formGroup]="goalForm" (submit)="addGoalToFirestore()">
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input (blur)="checkValidators()" matInput formControlName="name" type="text" placeholder="2024km" required />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" placeholder="Max. 500 characters" required></textarea>
    </mat-form-field>
    <mat-form-field>
        <mat-label>MM/DD/YYYY - MM/DD/YYYY</mat-label>
        <mat-date-range-input [rangePicker]="picker" required>
            <input (blur)="checkValidators()" matStartDate formControlName="startDate" placeholder="Start Date" type="text">
            <input (blur)="checkValidators()" matEndDate formControlName="endDate" placeholder="End Date">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <mat-form-field>
        <mat-label>KM</mat-label>
        <input (blur)="checkValidators()" matInput formControlName="km" step="5" type="number" required>
    </mat-form-field>
    <app-button-with-load-spinner matTooltip="Complete el formulario para grabar el nuevo objetivo" [isValidForm]="goalForm.valid" [isAdding]="isAdding">GO FOR IT!</app-button-with-load-spinner>
    <!-- <div class="button-container" matTooltip="Complete this form to submit" [matTooltipDisabled]="goalForm.valid">
        <button mat-flat-button type="submit" [disabled]="goalForm.invalid">Go For It!</button>
    </div> -->
</form>

<!-- <div class="error-container" *ngIf="hasErrors(goalForm)">
    <mat-error *ngIf="getControl('name')?.errors?.['required'] && getControl('name')?.touched">
        - Name is required
    </mat-error>
    <mat-error *ngIf="getControl('name')?.errors?.['minlength'] && getControl('name')?.touched">
        - Name must be at least 5 characters
    </mat-error>
    <mat-error *ngIf="getControl('name')?.errors?.['maxlength'] && getControl('name')?.touched">
        - Name must be less than 30 characters
    </mat-error>
    <mat-error *ngIf="getControl('description')?.errors?.['required'] && getControl('description')?.touched">
        - Description is required
    </mat-error>
    <mat-error *ngIf="getControl('description')?.errors?.['maxlength'] && getControl('description')?.touched">
        - Description must be less than 100 characters
    </mat-error>
    <mat-error *ngIf="getControl('startDate')?.errors?.['isDate'] && getControl('startDate')?.touched">
        - Please, enter a valid Start Date
    </mat-error>
    <mat-error *ngIf="getControl('endDate')?.errors?.['isDate'] && getControl('endDate')?.touched">
        - Please, enter a valid End Date
    </mat-error>
    <mat-error *ngIf="getControl('endDate')?.errors?.['matEndDateInvalid'] && getControl('endDate')?.touched">
        - End Date must come after the Start Date
    </mat-error>
    <mat-error *ngIf="goalForm.get('km')?.errors?.['required']">
        - Please, enter a valid numeric value
    </mat-error>
    <mat-error *ngIf="goalForm.get('km')?.errors?.['min']">
        - Goal KM must be greater than or equal to 1
    </mat-error>
    <mat-error *ngIf="goalForm.get('km')?.errors?.['pattern']">
        - Please enter a valid number
    </mat-error>
</div> -->

<ng-container>
    <app-validation-container />
    <app-notification />
</ng-container>