form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button-container {
    position: relative;

    mat-spinner {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    
    button[type=submit] {
        width: 100%;
    }
}