<form [formGroup]="loginForm" (submit)="login()">
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input (blur)="updateValidationErrors()" matInput formControlName="email" type="email" placeholder="eve.holt@reqres.in" required aria-required="true" aria-label="Email">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input (blur)="updateValidationErrors()" matInput formControlName="password" type="password" required aria-required="true" aria-label="Password">
    </mat-form-field>
    <div class="button-container" matTooltip="Complete this form to login" [matTooltipDisabled]="loginForm.valid">
        <mat-spinner onButtonSpinner *ngIf="isLogin" diameter="20"></mat-spinner>
        <button mat-flat-button type="submit" [disabled]="loginForm.invalid || isLogin">LOGIN</button>
    </div>
</form>

<ng-container>
    <app-validation-container />
    <app-notification />
</ng-container>