<h3 class="modal-content__header">NEW ACTIVITY</h3>
<form [formGroup]="activityForm" (submit)="addActivity()">
    <mat-form-field>
        <mat-label>KMs</mat-label>
        <input matInput formControlName="km" type="number" required>
    </mat-form-field>
    <mat-form-field>
        <mat-label>MM/DD/YYYY</mat-label>
        <input
            matInput
            formControlName="date"
            [matDatepicker]="picker"
            [min]="selectedGoal.
            startDate"
            [max]="selectedGoal.endDate"
        >
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <div class="button-container" matTooltip="Complete this form to register" [matTooltipDisabled]="activityForm.valid">
        <mat-spinner *ngIf="isAdding" onButtonSpinner diameter="20"></mat-spinner>
        <button mat-flat-button type="submit" [disabled]="activityForm.invalid || isAdding">ADD</button>
    </div>

    <ng-container>
        <app-notification />
        <app-validation-container />
    </ng-container>
</form>