<div class="form-toggle">
    <button mat-button (click)="navigateTo('login')" [ngStyle]="{'background-color': currentAuthAction === 'login' ? '#f58a07' : ''}">LOGIN</button>
    <div class="divider"></div>
    <button mat-button (click)="navigateTo('register')" [ngStyle]="{'background-color': currentAuthAction === 'register' ? '#f58a07' : ''}">REGISTER</button>
</div>

<ng-container *ngIf="currentAuthAction === 'login'; else isRegister">
    <!-- <app-login-dbjson-form></app-login-dbjson-form> -->
    <app-login-form></app-login-form>
</ng-container>

<ng-template #isRegister>
    <app-register-dbjson-form></app-register-dbjson-form>
    <!-- <app-register-form></app-register-form> -->
</ng-template>