<ng-container *ngIf="!isLoading; else loading">
    <a class="go-back-btn" mat-flat-button routerLink="/goals">GO BACK</a>
    <ng-container *ngIf="goalWithExtraDetails; else goalNotFound">
        <app-goal-detail [selectedGoal]="goalWithExtraDetails" (emitOpenModal)="openModal()">
        </app-goal-detail>
    </ng-container>

    <ng-template #goalNotFound>
        <div errorMessage>{{ errorMessage }}</div>
    </ng-template>

    <ng-container *ngIf="activeModal">
        <app-modal (emitCloseEvent)="closeModal()" [ngSwitch]="activeModal">
            <app-activity-form *ngSwitchCase="'activityForm'" (emitAddActivity)="activityAdded($event)"
                [selectedGoal]="goalWithExtraDetails"></app-activity-form>
            <app-goal-complete-modal *ngSwitchCase="'goalCompleted'"></app-goal-complete-modal>
        </app-modal>
    </ng-container>
</ng-container>

<ng-template #loading>
    <mat-spinner></mat-spinner>
</ng-template>