<ng-container *ngIf="goalWithExtraDetails; else goalNotFound">
    <app-goal-detail
        [selectedGoal]="goalWithExtraDetails"
        (emitOpenModal)="openModal()">
    </app-goal-detail>
</ng-container>

<ng-template #goalNotFound>
    <div errorMessage>{{ errorMessage }}</div>
</ng-template>

<a class="go-back-btn" mat-flat-button routerLink="/goals">GO BACK</a>

<ng-container *ngIf="activeModal">
    <app-modal (emitCloseEvent)="closeModal()" [ngSwitch]="activeModal">
        <app-activity *ngSwitchCase="'activityForm'" (emitAddActivity)="activityAdded($event)" [selectedGoal]="goalWithExtraDetails"></app-activity>
        <app-goal-complete-modal *ngSwitchCase="'goalCompleted'"></app-goal-complete-modal>
        <!-- En principio no necesito manejar un caso de DEFAULT ya que está controlado el valor que puede tomar activeModal -->
    </app-modal>
</ng-container>