<h1>NEVER GIVE UP!</h1>

<!-- TODO: Revisar cómo se está visualzando y cómo lo estamos estructurando -->
<ng-container *ngIf="!isLoading; else noGoals">
    <div class="cards-container">
        <ng-template ngFor let-goal [ngForOf]="goals">
            <app-goal [goalObject]="goal"></app-goal>
        </ng-template>
        <ng-container *ngIf="goals === null && !errorMessage">
            <h3 class="no-data-yet-message"> No data yet </h3>
        </ng-container>
        <ng-container *ngIf="errorMessage">
            <h3 class="no-data-yet-message"> {{ errorMessage }}</h3>
        </ng-container>
    </div>
</ng-container>

<ng-template #noGoals>
    <mat-spinner></mat-spinner>
</ng-template>