<form [formGroup]="registerForm" (submit)="registerFirestore()">
    <mat-form-field>
        <mat-label>Username</mat-label>
        <input (blur)="updateValidationErrors()" matInput formControlName="username" type="text" placeholder="Eve Holt"
            required aria-label="Username" aria-required="true">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input (blur)="updateValidationErrors()" matInput formControlName="email" type="text"
            placeholder="eve.holt@reqres.in" required aria-label="Email" aria-required="true">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input (blur)="updateValidationErrors()" matInput formControlName="password" type="password" required
            aria-label="Password" aria-required="true">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Repeat your password</mat-label>
        <input (blur)="updateValidationErrors()" matInput formControlName="confirmPassword" type="password" required
            aria-label="Repeat your password" aria-required="true">
    </mat-form-field>
    <!-- <input (change)="onFileSelected($event)" type="file" required aria-required="true" #inputFile id="input-file">
    <mat-card appearance="outlined">
        <mat-card-content>
            <span> {{ selectedFile ? selectedFile.name : 'Please, upload an profile image' }}</span>
        </mat-card-content>
        <button (click)="inputFile.click()" type="button">UPLOAD</button>
    </mat-card> -->
    <app-button-with-load-spinner matTooltip="Complete form to register" [isAdding]="isRegistering"
        [isValidForm]="registerForm.valid">
        REGISTER
    </app-button-with-load-spinner>
</form>

<app-validation-container />
<app-notification />