mat-card {
    max-width: 600px;
    padding: 20px;
}

mat-card-header {
    display: flex;
    flex-direction: column;

    h3 {
        margin: 0;
    }

    margin-bottom: 20px;
}

mat-card-actions {
    margin-top: 10px;
    
    display: flex;
    justify-content: right;
    gap: 10px;
}

.no-activities-yet {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;

    padding: 16px 10px;
    color: #888;
    background-color: #eee;
    border-radius: 10px;
    text-align: center;
    font-weight: 600;
}

.button-container {
    position: relative;
}